body {
    color: lightblue;
}

$primary-color: orange;

.content{
    .title{
        font-size: 24px;
        color: $primary-color;
    }
}

body{
    background-color: $primary-color;
}

h2{
    border-color: $primary-color;
}
